div {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* ListTask.css */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

s {
  color: #888;
  text-decoration: none;
}

button {
  padding: 6px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
